<div class="contain-everything">
  <h1>Login</h1>
  <form id="loginForm">
    <label>Email</label>
    <input name="email" />
    <label>Password</label>
    <input type="password" name="password" />
    <input class="button-style2" type="submit" />
  </form>
</div>
<div><a href="/api/sessions/github"><button class="button-style">Login with
      Github</button></a></div>
<div><a href="/register"><button
      class="button-style"
    >Register</button></a></div>
<script src="/js/login.js"></script>