<div class="contain-everything">
  <h1>Register</h1>
  <form id="registerForm">
    <label>Name</label>
    <input name="name" />
    <label>Email</label>
    <input name="email" />
    <label>Password</label>
    <input type="password" name="password" />
    <input class="button-style2" type="submit" />
  </form>
</div>

<a href="/login"><button class="button-style">Login</button></a>
<script src="/js/register.js"></script>